<div class="d-flex justify-content-center">
    <div class="col-12 text-center">
        <h1>Pokemon Battle</h1>
        <br><br><br><br>
        
        <div class="row">
            @for (item of listOfPokemom; track item.name) {
                @if (item.name == 'charizard') {
                    <div class="col-5">
                        <div class="card" style="width: 18rem; margin: auto;">
                            <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/'
                            + item.url.split('/')[item.url.split('/').length - 2] + '.png'" style="width: 12rem; height: fit-content;">
                            <div class="card-body">
                                <h5 class="card-title">{{item.name}}</h5>
                                <ngb-progressbar class="mb-3" [type]="getSaludColor()" [value]="salud" />
                                <a href="#" class="btn btn-primary" (click)="ataque1()">Atacar</a>
                            </div>
                        </div>
                    </div>
                }
                
                @if (item.name == 'blastoise') {
                    <div class="col-5">
                        <div class="card" style="width: 18rem; margin: auto;">
                            <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/'
                            + item.url.split('/')[item.url.split('/').length - 2] + '.png'" style="width: 12rem; height: fit-content;">
                            <div class="card-body">
                                <h5 class="card-title">{{item.name}}</h5>
                                <ngb-progressbar class="mb-3" [type]="getSaludColor()" [value]="salud || 0" />
                              
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
