<div class="row mt-2 mb-2">
  
  <br><br><br><br>
  @for (item of listOfPokemon; track item.name) {
      @if (item.name == 'pidgey') {
          <div class="card" style="width: 18rem; margin-right: 600px; margin-left: 300px;">
              <!--<img src="..." class="card-img-top" alt="...">-->
              <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/'
              + item.url.split('/')[item.url.split('/').length - 2] + '.png'" style="width: 12rem; height: fit-content;">
              <div class="card-body">
                  <h5 class="card-title">{{item.name}}</h5>
                  <ngb-progressbar class="mb-3" [type]="getSalud1()" [value]="salud1" />
                  <a href="#" class="btn btn-primary" (click)="ataque1()">Atacar</a>
              </div>
          </div>
      }

      @if (item.name == 'rattata') {
          <div class="card" style="width: 18rem;">
              <!--<img src="..." class="card-img-top" alt="...">-->
              <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/'
              + item.url.split('/')[item.url.split('/').length - 2] + '.png'" style="width: 12rem; height: fit-content;">
              <div class="card-body">
                  <h5 class="card-title">{{item.name}}</h5>
                  <ngb-progressbar class="mb-3" [type]="getSalud2()" [value]="salud2" />
                  <a href="#" class="btn btn-primary" (click)="ataque2()">Atacar</a>
              </div>
          </div>
      }
  }
</div>